# CI - Bazel presubmit wheel tests (RBE)
#
# This workflow is triggered in the presubmit.
#
# It consists of the following jobs:
# build-cpu-wheels:
#    - Builds the jax, jaxlib artifacts from source via build.py invocation. Uses
#      bazel_build_wheels.yml.
# build-cuda-wheels:
#    - Builds the jax-cuda-plugin, jax-cuda-pjrt artifacts from source via build.py invocation. Uses
#      bazel_build_wheels.yml.
# run-bazel-wheel-tests:
#    - Runs the Bazel CPU and CUDA tests with py_import dependencies. Uses bazel_test_wheels.yml.

name: CI - Bazel presubmit wheel tests (RBE)

on:
  workflow_dispatch:
    inputs:
      halt-for-connection:
        description: 'Should this workflow run wait for a remote connection?'
        type: choice
        required: true
        default: 'no'
        options:
        - 'yes'
        - 'no'
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
      - 'release/**'
permissions: {}
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  # Don't cancel in-progress jobs for main/release branches.
  cancel-in-progress: ${{ !contains(github.ref, 'release/') && github.ref != 'main' }}

jobs:
  build-cpu-wheels:
    uses: ./.github/workflows/bazel_build_wheels.yml
    name: "Build CPU wheels"
    strategy:
        fail-fast: false # don't cancel all jobs on failure
    with:
        # TODO(b/442914465): add "linux-arm64-c4a-16" when the bug is fixed.
        runners: '["linux-x86-n4-16", "windows-x86-n2-16"]'
        python-versions: '["3.14-nogil", "3.14"]'
        artifacts: '["jax", "jaxlib"]'
        clone_main_xla: 1
        upload_artifacts_to_gcs: true
        gcs_upload_uri: 'gs://general-ml-ci-transient/jax-github-actions/jax/${{ github.workflow }}/${{ github.run_number }}/${{ github.run_attempt }}'

  build-gpu-wheels:
    uses: ./.github/workflows/bazel_build_wheels.yml
    name: "Build GPU wheels"
    strategy:
        fail-fast: false # don't cancel all jobs on failure
    with:
        # TODO(b/442914465): add "linux-arm64-c4a-16" when the bug is fixed.
        runners: '["linux-x86-n4-16"]'
        python-versions: '["3.14-nogil"]'
        cuda-versions: '["13"]'
        artifacts: '["jax-cuda-plugin", "jax-cuda-pjrt"]'
        clone_main_xla: 1
        upload_artifacts_to_gcs: true
        gcs_upload_uri: 'gs://general-ml-ci-transient/jax-github-actions/jax/${{ github.workflow }}/${{ github.run_number }}/${{ github.run_attempt }}'

  run-bazel-test-cpu-py-import:
    uses: ./.github/workflows/bazel_cpu.yml
    strategy:
        fail-fast: false # don't cancel all jobs on failure
        matrix:
          runner: ["linux-x86-n4-16", "linux-arm64-t2a-48", "windows-x86-n2-16"]
          python: ["3.14-nogil", "3.14"]
          enable-x64: [1]
          exclude:
            - runner: "windows-x86-n2-16"
              python: "3.14-nogil"
            - runner: "linux-x86-n4-16"
              python: "3.14"
            - runner: "linux-arm64-t2a-48"
              python: "3.14"
    name: "Bazel CPU ${{ format('{0}', 'tests') }}"
    with:
      runner: ${{ matrix.runner }}
      python: ${{ matrix.python }}
      enable-x64:  ${{ matrix.enable-x64 }}
      build_jaxlib: "wheel"
      build_jax: "wheel"
      run-backend_independent-test-suite: 0
      clone_main_xla: 1

  run-bazel-test-cpu-prebuilt-jaxlib-wheel:
    if: ${{ !cancelled() }}
    uses: ./.github/workflows/bazel_cpu.yml
    needs: [build-cpu-wheels]
    strategy:
        fail-fast: false # don't cancel all jobs on failure
        matrix:
          # TODO(b/442914465): add "linux-arm64-c4a-16" when the bug is fixed.
          runner: ["linux-x86-n4-16", "windows-x86-n2-16"]
          python: ["3.14-nogil", "3.14"]
          enable-x64: [1]
          exclude:
              - runner: "windows-x86-n2-16"
                python: "3.14-nogil"
              - runner: "linux-x86-n4-16"
                python: "3.14"
    name: "Bazel CPU ${{ format('{0}', 'tests') }}"
    with:
      runner: ${{ matrix.runner }}
      python: ${{ matrix.python }}
      enable-x64:  ${{ matrix.enable-x64 }}
      build_jaxlib: "false"
      build_jax: "false"
      run-backend_independent-test-suite: 0
      clone_main_xla: 1
      gcs_download_uri: ${{ needs.build-cpu-wheels.outputs.gcs_upload_uri }}

  run-bazel-test-cuda-py-import:
    uses: ./.github/workflows/bazel_cuda.yml
    strategy:
        fail-fast: false # don't cancel all jobs on failure
        matrix:
          runner: ["linux-x86-n4-16"]
          python: ["3.14-nogil"]
          cuda-version: ["12"]
          enable-x64: [1]
    name: "Bazel GPU=${{ format('{0}', 'T4 tests') }}"
    with:
      runner: ${{ matrix.runner }}
      python: ${{ matrix.python }}
      cuda-version: ${{ matrix.cuda-version }}
      enable-x64:  ${{ matrix.enable-x64 }}
      build_jaxlib: "wheel"
      build_jax: "wheel"
      jaxlib-version: "head"
      run_multiaccelerator_tests: "false"
      run-backend_independent-test-suite: 0
      clone_main_xla: 1
      write_to_bazel_remote_cache: 0

  run-bazel-test-cuda-prebuilt-jaxlib-wheel:
    # Run test jobs even if the build job fails. Avoids losing test coverage if a single unrelated
    # build job fails. E.g Windows build job fails but everything else succeeds. In this case, we
    # still want to run the tests for other platforms.
    if: ${{ !cancelled() }}
    needs: [build-cpu-wheels, build-gpu-wheels]
    uses: ./.github/workflows/bazel_cuda.yml
    strategy:
        fail-fast: false # don't cancel all jobs on failure
        matrix:
          # Python values need to match the matrix stategy in the build artifacts job above
          runner: ["linux-x86-g2-48-l4-4gpu"]
          python: ["3.14-nogil"]
          cuda-version: ["13"]
          jaxlib-version: ["head"]
          enable-x64: [1]
    name: "Bazel GPU=${{ format('{0}', 'L4 tests') }}"
    with:
      runner: ${{ matrix.runner }}
      python: ${{ matrix.python }}
      cuda-version: ${{ matrix.cuda-version }}
      enable-x64:  ${{ matrix.enable-x64 }}
      jaxlib-version: ${{ matrix.jaxlib-version }}
      gcs_download_uri: ${{ needs.build-cpu-wheels.outputs.gcs_upload_uri }}
      build_jaxlib: "false"
      build_jax: "false"
      write_to_bazel_remote_cache: 0
      run_multiaccelerator_tests: "true"
      clone_main_xla: 1
      run-backend_independent-test-suite: "0"
